<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>OpenBox</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="robots" content="all,follow">
    <link rel="stylesheet" href="../static/vendor/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../static/css/style.default.css" id="theme-stylesheet">
    <link rel="stylesheet" href="../static/css/custom.css">
    <link rel="shortcut icon" href="favicon.png">
</head>

<body>
    <div id="all">

        <div class="container" style="zoom:0.8">
            <div class="row">
                <div class="col-lg-10">
                    <div class="box">
                        <div class="row" style="float: right">
                            <button onclick="refresh()" class="btn btn-outline-secondary"
                                style="background: #4fbfa8;color: white"> Refresh</button>
                        </div>
                        <br />
                        <!--  BEGIN TASK INFO  -->
                        <div class="row">
                            <table id="task-inf-tab" class="table table-bordered table-hover table-striped">
                                <thead>
                                    <tr>
                                        <th> task_id </th>
                                        <th> Advisor Type </th>
                                        <th> Surrogate Type </th>
                                        <th> max_runs </th>
                                        <th> Time Limit Per Trial </th>
                                    </tr>
                                </thead>

                            </table>
                        </div>
                        <!--  END TASK INFO  -->

                        <!--  BEGIN SWITCH TAB  -->
                        <ul class="nav nav-tabs nav-tabs-solid nav-justified" role="tablist">
                            <li class="nav-item">
                                <b class="nav-link active" data-toggle="tab" role="tab" href="#obj">Objective Function</b>
                            </li>
                            <li class="nav-item">
                                <b class="nav-link" data-toggle="tab" role="tab" href="#surrogate">Surrogate Model</b>
                            </li>
                            <li class="nav-item">
                                <b class="nav-link" data-toggle="tab" role="tab" href="#para">Parameter Importance</b>
                            </li>
                            <li class="nav-item">
                                <b class="nav-link" data-toggle="tab" role="tab" href="#history">Historical configurations</b>
                            </li>
                        </ul>
                        <!--  END SWITCH TAB  -->

                        <!--  BEGIN INFORMATION TAB  -->
                        <div class="container-fluid tab-content" id="myTabContent">

                            <!--  BEGIN OBJECTIVE TAB  -->
                            <div class="tab-pane active" id="obj" role="tabpanel">
                                <br>
                                <div class="row">

                                    <div class="col-md-6  col-lg-12" id="line" style="height: 400px; zoom:1.25"></div>

                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-6  col-lg-12" id="parallel_coordinates" style="height: 400px;zoom:1.25">
                                    </div>

                                </div>

                            </div>
                            <!--  END OBJECTIVE TAB  -->

                            <!--  BEGIN SURROGATE TAB  -->
                            <div class="tab-pane fade" id="surrogate" role="tabpanel">
                                <div class="row">

                                    <div class="col-md-6  col-lg-12" id="pre_label_scatter" style="height: 500px; width: 650px; zoom:1.25"></div>

                                </div>
                                <br>
                                <div class="row">

                                    <div class="col-md-6  col-lg-12" id="grade_scatter" style="height: 500px; width: 650px; zoom:1.25">
                                    </div>

                                </div>
                            </div>
                            <!--  END SURROGATE TAB  -->

                            <!--  BEGIN PARA TAB  -->
                            <div class="tab-pane fade" id="para" role="tabpanel">
                                <br>
                                <div class="col-md-6  col-lg-12" id="para_importance" style="height: 500px; width: 650px; zoom:1.25"></div>
                                <br>
                                <div class="col-md-6  col-lg-12" id="con_para_importance" style="height: 500px; width: 650px; zoom:1.25"></div>
                                <br>
                                <div class="col-md-6  col-lg-12" id="single_para_importance" style="height: 500px; width: 650px; zoom:1.25"></div>
                                <br>
                                <div class="col-md-6  col-lg-12" id="con_single_para_importance" style="height: 500px; width: 650px; zoom:1.25"></div>
                            </div>
                            <!--  END PARA TAB  -->

                            <!--  BEGIN HISTORY TAB  -->
                            <div class="tab-pane fade" id="history" role="tabpanel">
                                <table id="pipeline_table" class="table table-striped">
                                    <thead>
                                        <tr>
                                            <th> Index </th>
                                            <th> Result </th>
                                            <th> Configuration </th>
                                            <th> Status </th>
                                            <th> Cost </th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table>
                            </div>
                            <!--  END HISTORY TAB  -->
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <!-- pipeline detail modal -->
    <div class="modal fade bs-example-modal-lg" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLable"
        aria-hidden="true">
        <!--modal start -->
        <div class="modal-dialog modal-lg">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" id="myModalLabel">Run History List</h4>
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                        <span>&times;</span>
                    </button>
                </div>
                <div class="modal-body" id='rh_config_div'>

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <!--modal end -->


    <script type="text/javascript" src='json_path'></script>
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../static/vendor/jquery.cookie/jquery.cookie.js"></script>
    <script src="../static/vendor/datatables/js/datatables.js"></script>
    <script src="../static/js/echarts.min.js"></script>
    <script src="../static/js/common.js"></script>
    <script>

        var data = info.data

        // add data to the task information table
        var oTable = document.getElementById('task-inf-tab')
        var tbody = document.createElement("tbody");
        oTable.appendChild(tbody);
        tbody.insertRow(0)
        tbody.rows[0].insertCell(0)
        tbody.rows[0].cells[0].appendChild(document.createTextNode(data["task_inf"]["table_data"][0]));
        tbody.rows[0].insertCell(1)
        tbody.rows[0].cells[1].appendChild(document.createTextNode(data["task_inf"]["table_data"][1]));
        tbody.rows[0].insertCell(2)
        tbody.rows[0].cells[2].appendChild(document.createTextNode(data["task_inf"]["table_data"][2]));
        tbody.rows[0].insertCell(3)
        tbody.rows[0].cells[3].appendChild(document.createTextNode(data["task_inf"]["table_data"][3]));
        tbody.rows[0].insertCell(4)
        tbody.rows[0].cells[4].appendChild(document.createTextNode(data["task_inf"]["table_data"][4]));


        var history_table = $('#pipeline_table').DataTable({
            "aaSorting": [],
            "destroy": true,
            "searching": false
        });

        var rh_config = {};
        var task_id = "{{ task_id | safe}}";
        function show_config(rh_id) {
            $('#rh_config_div').html('');
            $('#rh_config_div').append("<pre>" + JSON.stringify(rh_config[rh_id], null, 2) + "</pre>")
            $('#myModal').modal('show');
        }

        // initialize Parallel Chart
        var parallel_coordinates_chart = echarts.init($('#parallel_coordinates')[0]);
        var parallel_coordinates_option = {
            title:{
                text: 'Parallel Coordinates Plot',
                subtext: 'This shows the features of individual observation of each round.'
            },
            parallel: {
                top: 100
            },
            visualMap: {
                show: true,
                seriesIndex: 0,
                inRange: {
                    color: ['#d94e5d', '#eac736', '#50a3ba'],
                }
            },

            series: [
                {
                    type: 'parallel',
                    lineStyle: lineStyle,
                    inactiveOpacity: 0.1,
                    activeOpacity: 1,
                    data: ''
                },

            ]
        };

        // initialize Line Chart
        var line_chart = echarts.init($('#line')[0]);
        var line_option = {
            title:{
                text: 'Objective Value',
                subtext: 'This shows min objective value after n iterations.'
            },
            tooltip: {
                trigger: 'axis',
                axisPointer: {
                    animation: false
                }
            },
            dataZoom: [
                {
                    type: 'slider',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
                {
                    type: 'inside',
                    xAxisIndex: 0,
                    start: 0,
                    end: 100
                },
            ],
            legend: {
                left: 10,
                top: 50
            },
            grid:{
                top: 90
            },
            xAxis: {

                name: 'Number of iterations n',
                boundaryGap: false,
                nameLocation: 'center',
                nameRotate: '0',
                nameTextStyle: {
                    padding: [20, 0, 0, 0],
                    fontSize: 16
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: ['black'],
                        width: 1,
                        type: 'solid'
                    }
                }
            },
            yAxis: {
                type: 'value',
                name: 'Min objective value after n iterations',
                nameLocation: 'center',
                nameRotate: '90',
                nameTextStyle: {
                    padding: [0, 0, 50, 50],
                    fontSize: 16
                },
                splitLine: {
                    show: true,
                    lineStyle: {
                        color: ['black'],
                        width: 1,
                        type: 'solid'
                    }
                }
            },
            series: [
                {
                    name: 'Line',
                    type: 'line',
                    smooth: false,
                    color: '#4fbfa8',
                    symbol: 'none',
                }, {
                    name: 'Scatter',
                    type: 'scatter',
                    color: 'grey',
                },
                {
                    name: 'Scatter',
                    type: 'scatter',
                    color: '#4fbfa8',
                },
            ]
        };

        if(data['pre_label_data'] != null) {
            verify_surrogate_model();
        }

        // initialize the Parameter Importance Chart
        let legend_list = [];
        let series_list = [];
        for(var key in data["importance_data"]["data"]) {
            legend_list.push(key);

            series_list.push(
            {
                  name: key,
                  type: 'bar',
                  data: data["importance_data"]["data"][key],
                  markPoint: {
                    data: [
                      { type: 'max', name: 'Max' },
                      { type: 'min', name: 'Min' }
                    ]
                  },
                  markLine: {
                    data: [{ type: 'average', name: 'Avg' }]
                  }
                }
            )
        }
        var para_chart = echarts.init($('#para_importance')[0]);
        var para_option = {
            title: {
                text: 'Parameter Importance',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: legend_list,
                top: '30'
            },
            grid:{
                top: '60'
            },
            xAxis: [
                {
                  type: 'category',
                  // prettier-ignore
                  data: data["importance_data"]["x"]
                }
              ],
            yAxis: [
                {
                    type: 'value'
                }
            ],
            series: series_list,

        }
        para_option && para_chart.setOption(para_option);

        let series_data = [];
        for(var key in data["importance_data"]["con_data"]) {
            series_data.push(
            {
                  name: key,
                  type: 'bar',
                  data: data["importance_data"]["con_data"][key],
                  markPoint: {
                    data: [
                      { type: 'max', name: 'Max' },
                      { type: 'min', name: 'Min' }
                    ]
                  },
                  markLine: {
                    data: [{ type: 'average', name: 'Avg' }]
                  }
                }
            )
        }
        

        var con_para_chart = echarts.init($('#con_para_importance')[0]);
        var con_para_option = {
            title: {
                text: 'Parameter Importance of Constraints',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                data: legend_list,
                top: '30'
            },
            grid:{
                top: '60'
            },
            xAxis: {
                data: data["importance_data"]["x"]
            },
            yAxis: {},
            series: series_data
        }
        con_para_option && con_para_chart.setOption(con_para_option);


        // initialize the Single Parameter Importance Chart
        let X = data["importance_data"]["X"];
        let para_num = data["importance_data"]["x"].length;
        let obj_shap_value = data["importance_data"]["obj_shap_value"];
        let slist = [];
        for(var j=0; j<para_num; j++){
            let val2shap = [];
            for(var i=0; i < X.length; i++){
                let pair = [X[i][j], obj_shap_value[0][i][j]];
                val2shap.push(pair);
            }
            slist.push({name:data["importance_data"]["x"][j], type:'scatter', data: val2shap});
        }
        var spara_chart = echarts.init($('#single_para_importance')[0]);
        var spara_option = {
            title: {
                text: 'Single Parameter Importance',
                subtext: 'This chart shows how the model depends on the given feature.\n -- X-axis is the value of the feature.\n -- Y-axis is the SHAP value for that feature.\n -- Shap value represents how much knowing that feature\'s value changes the output.\n',
            },
            grid:{
                top:'120',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                selectedMode: 'single',
                top:'90'
            },
            xAxis: {
                name: 'para value\n',
                nameLocation:'center',
            },
            yAxis: {
                name: 'shap value\n',
                nameLocation:'center',
                axisTick: {
                    show: false
                }
            },
            series: slist,
        };
        spara_option && spara_chart.setOption(spara_option);


        // initialize the Constraints Single Parameter Importance Chart
        let con_shap_value = data["importance_data"]["con_shap_value"];
        let slist2 = [];
        console.log("para_num:%d", para_num);
        console.log("X.length:%d", X.length);
        for(var j=0; j<para_num; j++){
            let val2shap = [];
            for(var i=0; i < X.length; i++){
                let pair = [X[i][j], con_shap_value[0][i][j]];
                val2shap.push(pair);
            }
            slist2.push({name:data["importance_data"]["x"][j], type:'scatter', data: val2shap});
        }
        var con_spara_chart = echarts.init($('#con_single_para_importance')[0]);
        var con_spara_option = {
            title: {
                text: 'Single Parameter Importance of Constraints',
                subtext: 'This chart shows how the model depends on the given feature.\n -- X-axis is the value of the feature.\n -- Y-axis is the SHAP value for that feature.\n -- Shap value represents how much knowing that feature\'s value changes the output.\n',
            },
            grid:{
                top:'120',
            },
            tooltip: {
                trigger: 'axis'
            },
            legend: {
                selectedMode: 'single',
                top:'90'
            },
            xAxis: {
                name: 'para value\n',
                nameLocation:'center',
            },
            yAxis: {
                name: 'shap value\n',
                nameLocation:'center',
                axisTick: {
                    show: false
                }
            },
            series: slist2,
        };
        con_spara_option && con_spara_chart.setOption(con_spara_option);



        // process the data
        get_history();

        function refresh() {
            location.reload();
        }

        function get_history() {

            let parallel_option = data["parallel_data"];
            let parallel_parallelAxis = [];
            $.each(parallel_option['schema'], function (i, text) {
                let item = {};
                if (i === 0) {
                    item = { dim: 0, name: text, inverse: true, max: 31, nameLocation: 'start' }
                } else {
                    item['name'] = text;
                    item['dim'] = i;
                }
                parallel_parallelAxis.push(item)
            });

            parallel_coordinates_option['parallelAxis'] = parallel_parallelAxis;
            console.log(parallel_coordinates_option)
            parallel_coordinates_option['series'][0]['data'] = parallel_option['data'];
            parallel_coordinates_option['visualMap']['min'] = parallel_option['visualMap']['min'];
            parallel_coordinates_option['visualMap']['max'] = parallel_option['visualMap']['max'];
            parallel_coordinates_option['visualMap']['dimension'] = parallel_option['visualMap']['dimension'];
            parallel_coordinates_option && parallel_coordinates_chart.setOption(parallel_coordinates_option);

            line_option['series'][0]['data'] = data['line_data']['min'];
            line_option['series'][1]['data'] = data['line_data']['over'];
            line_option['series'][2]['data'] = data['line_data']['scat'];
            line_option && line_chart.setOption(line_option);

            rh_config = data['rh_config'];
            let table_list = data['table_list'];
            let rows = [];
            let config_str = '';
            let trial_info = '';
            for (let r in table_list) {
                config_str = table_list[r][2] + '<a style="color:#4fbfa8;cursor:pointer;" id="show_config"+ onclick="show_config(\'' + table_list[r][0] + '\')"><strong>...</strong></a>';
                trial_info = table_list[r][4] == null ? 'Null' : table_list[r][4]
                rows.push([table_list[r][0], table_list[r][1], config_str, table_list[r][3], trial_info, table_list[r][4]])
            }
            console.log(rows)
            history_table.clear().draw();
            history_table.rows.add(rows).draw();

        }

        function verify_surrogate_model() {
            var markLineOpt1 = {
            animation: false,
            label: {
                formatter: 'y = x',
                align: 'right'
            },
            lineStyle: {
                type: 'solid'
            },
            tooltip: {
                formatter: 'y = x'
            },
            data: [
                [
                    {
                        coord: [data['pre_label_data']['min'], data['pre_label_data']['min']],
                        symbol: 'none'
                    },
                    {
                        coord: [data['pre_label_data']['max'], data['pre_label_data']['max']],
                        symbol: 'none'
                    }
                ]
            ]
        };
            // initialize Predict-Label Scatter Chart
            var pre_label_chart = echarts.init($('#pre_label_scatter')[0]);
            var pre_label_option = {
                grid: {
                    left: '150px',
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        animation: false
                    }
                },
                xAxis: {
                    type: 'value',
                    name: 'predicted objective value',
                    boundaryGap: false,
                    nameLocation: 'center',
                    nameRotate: '0',
                    nameTextStyle: {
                        padding: [20, 0, 0, 0],
                        fontSize: 16
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['black'],
                            width: 1,
                            type: 'solid'
                        }
                    },
                    min: data['pre_label_data']['min'],
                    max: data['pre_label_data']['max']
                },
                yAxis: {
                    type: 'value',
                    name: 'ground truth',
                    nameLocation: 'center',
                    nameRotate: '90',
                    nameTextStyle: {
                        padding: [0, 0, 50, 50],
                        fontSize: 16
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['black'],
                            width: 1,
                            type: 'solid'
                        }
                    },
                    min: data['pre_label_data']['min'],
                    max: data['pre_label_data']['max']
                },
                series: [
                    {
                        name: 'optimal obj 1',
                        type: 'scatter',
                        color: '#50a3ba',
                        data: data['pre_label_data']['data'],
                        markLine: markLineOpt1
                    },

                ]
            }
            pre_label_option && pre_label_chart.setOption(pre_label_option);

            var markLineOpt2 = {
                animation: false,
                label: {
                    formatter: 'y = x',
                    align: 'right'
                },
                lineStyle: {
                    type: 'solid'
                },
                tooltip: {
                    formatter: 'y = x'
                },
                data: [
                    [
                        {
                            coord: [data['grade_data']['min'], data['grade_data']['min']],
                            symbol: 'none'
                        },
                        {
                            coord: [data['grade_data']['max'], data['grade_data']['max']],
                            symbol: 'none'
                        }
                    ]
                ]
            };
            // initialize Rank Grade Scatter Chart
            var grade_chart = echarts.init($('#grade_scatter')[0]);
            var grade_option = {
                grid: {
                    left: '150px',
                },
                tooltip: {
                    trigger: 'axis',
                    axisPointer: {
                        animation: false
                    }
                },
                xAxis: {
                    type: 'value',
                    name: 'predicted objective value rank',
                    boundaryGap: false,
                    nameLocation: 'center',
                    nameRotate: '0',
                    nameTextStyle: {
                        padding: [20, 0, 0, 0],
                        fontSize: 16
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['black'],
                            width: 1,
                            type: 'solid'
                        }
                    }
                },
                yAxis: {
                    type: 'value',
                    name: 'ground truth',
                    nameLocation: 'center',
                    nameRotate: '90',
                    nameTextStyle: {
                        padding: [0, 0, 50, 50],
                        fontSize: 16
                    },
                    splitLine: {
                        show: true,
                        lineStyle: {
                            color: ['black'],
                            width: 1,
                            type: 'solid'
                        }
                    }
                },
                series: [
                    {
                        name: 'optimal obj 1',
                        type: 'scatter',
                        color: '#4fbfa8',
                        data: data['grade_data']['data'],
                        markLine: markLineOpt2
                    },

                ]
            }
            grade_option && grade_chart.setOption(grade_option);
        }

        var lineStyle = {
            normal: {
                width: 1,
                opacity: 0.75
            }
        };




    </script>
</body>

</html>